* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #6d757e;
}

 .back-to-results {
     font-weight: 100;
     margin-top: 8px;
     padding-top: 18px;
     padding-left: 13px;
     width: 100%;
     height: 60px;
     text-align: start;
     border-radius: 4px;
     color: #d1d34b;
     background-color: #6d757e;
 }

 .comment-container {
    margin-top: 20px;
    align-self: self-start;
    margin-left: 10px;
 }

 .comment-container textarea {
    margin: 0;
 }

 .comment-submit {
    margin-top: 35px;
    
 }

 .movie-pic {
    margin-top: 25px;
    flex-direction: row;
    align-self: start;
    
 }

header {
    background-color: #343a40;
    margin-left: 52px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10 ;
}

.parent-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.info-container {
    margin-bottom: 15em;
    margin-left: 2em;
}

.info-container h2 {
    width: 60%;
    
}

.info-container p {
    width: 60%;
    
}

.main-title-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
    

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-left: 54px;
    
}
main p {
text-align: start;
padding-bottom: 10px;

}

main input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border-color: rgb(249,249,250);
}

main button {
    margin-right: 34.6em;
    margin-top: 7px;
    padding: 10px 20px;
    color: white;
    background-color: #197bff;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    
    
}

.movie-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.movie-container img {
    height: 44em;
    display: flex;
    justify-content: space-around;
}

.email-container {
    width: 100%;
    max-width: 600px;
    text-align: center; /* To center text inside inputs and p tags */
    margin-bottom: 2em; /* To add some vertical spacing between elements */
}

.password-container {
    width: 100%;
    max-width: 600px;
    text-align: center; /* To center text inside inputs and p tags */
    margin: 0.5em 0; /* To add some vertical spacing between elements */
}

.login-heading {
    margin-top: 2em;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: 225;
    text-align: center; /* Removed flex properties to use text alignment */
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-left {
    list-style: none;
    display: flex;
    gap: 15px; /* even space between Home and Login */
    color: white;
}

.nav-right {
    display: flex;
    gap: 8px; /* 2px space between input and button */
}

.nav-right input {
    border: none;
    padding: 13px;
    border-radius: 3px;
    width: 225px;
}

.nav-right button {
    background-color: #333;
    color: #d1d34b;
    cursor: pointer;
    border: #d1d34b 1px solid;
    border-radius: 5px;
    margin-right: 15px;
    width: 75px;
}

footer {
    /* add footer styles here */
}
